@font-face {
	font-family: 'Giltory';
	src: url(fonts/gilroy-regular.woff) format('woff');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url(fonts/gilroy-regularItalic.woff) format('woff');
	font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Monserrat';
  src: url('montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Monserrat';
  src: url('montserrat-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Monserrat';
  src: url('montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: light;
}


@font-face {
  font-family: 'Monserrat';
  src: url('montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}