@font-face {
	font-family: 'gilroy-regular';
	src: url(fonts/gilroy-regular.woff) format('woff')
}

@font-face {
	font-family: 'Gilroy-RegularItalic';
	src: url(fonts/gilroy-regularItalic.woff) format('woff')
}

@font-face {
  font-family: 'montserratbold';
  src: url('montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratitalic';
  src: url('montserrat-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url('montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratmedium';
  src: url('montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}